* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

body {
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
}

.sidebar {
    width: 250px;
    height: 100vh;
    /* background-color: #0d0d0d; */
    padding: 20px;
}

h1 {
    color: hotpink;
    font-size: 24px;
}

h2 {
    color: gray;
    font-size: 12px;
    letter-spacing: 1px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 0 30px 0;
}

li {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
}

.activity-section {
    margin-bottom: 10px;
    padding: 10px;
}

.activity-box{
    margin-top: 10px;
    padding: 10px;
}
.playlist-box {
    background-color: #1a0a29;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.playlist-box.active {
    /* background-color: #33101d; */
    border-left: 4px solid hotpink;
}

.playlist-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.playlist-info {
    font-size: 12px;
    color: gray;
}

button {
    width: 100%;
    padding: 12px;
    background-color: transparent;
    border: 1px solid gray;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
  .topbar {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .search-box {
    flex: 1;
    display: flex;
    align-items: center;
   
    border: 1px solid #333;
    border-radius: 30px;
    padding: 14px 20px;
  }

  .search-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
  }

  .search-box input::placeholder {
    color: gray;
  }

  .search-icon {
    color: gray;
    font-size: 18px;
    margin-left: 10px;
  }

  .icon-button {
    width: 44px;
    height: 44px;
  
    border: 1px solid #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
  }